body {
    width: 100%;
    height: 960px;
    padding: 10px;
    margin: 15px;
}
header {
    background-color: GrayText;
}
.entete {
    width:30%;
    display: inline-block;
    vertical-align: middle;
}
.image {
    width:30%;
    display: inline-block;
    vertical-align: top;
}
iframe {
    float: left;
    width: 50%
}
footer {
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
}
#filters {
    display: flex;
    list-style-type: none;
}
.filter, li {
    margin: 8px;
    padding: 2px;
}

.col-md-3 {
    display: flex;
}
.portfolio img {
        max-width:100%; 
        position: relative;
}
.portfolio-wrapper {
        overflow:hidden;
        position: relative !important;
        background: #666;
        cursor:pointer;
}
.label-bg {
            /*background: #e95a44;*/
            width: 100%;
            height:100%;
            position: absolute;
            top:0;
            left:0;
}
.portfolio .text-category {
            display: block;
            font-size: 9px;
}

    

